<div class="newsletter-widget">
  <div class="newsletter-container">
    <div class="newsletter-title">Join my newsletter</div>
    <p class="newsletter-subtitle">Subscribe to get all the latest articles (and news if any) from my blog, delivered
      straight into your inbox!</p>

    <form id="newsletter-form" class="newsletter-form">
      <div class="form-group">
        <input type="email" id="newsletter-email" name="email" placeholder="Your Email Address" required
          class="newsletter-input" aria-label="Email Address">
        <button type="submit" class="newsletter-button">Subscribe</button>
      </div>
      <p class="newsletter-disclaimer">I won't spam you and you can unsubscribe at any time.</p>
      <div id="newsletter-message" class="newsletter-message"></div>
    </form>
  </div>
</div>