<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        		<li><a href="https://www.linkedin.com/in/gunnar-griese-634669a0/" target="_blank">LinkedIn</a></li>
        		<li><a href="https://github.com/GunnarGriese/" target="_blank">github.com/GunnarGriese</a></li>
			</ul>
		</footer>
		</body>
	</html>
