---
layout: default
title: Services
---

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4 mb-4">Digital Analytics Solutions, Tailored to You</h1>
            <p class="lead mb-4">As an experienced Digital
                Analytics Consultant and Google Cloud Certified Professional Data Engineer, I help businesses harness
                the full potential of their data through customized
                analytics solutions and data-driven strategies.</p>
            <div class="mb-5">
                <a href="#contact" class="btn btn-primary mr-2">Contact</a>
                <a href="#services" class="btn btn-outline-primary">Services</a>
            </div>
        </div>
    </div>

    <div id="services" class="row mb-5">
        <div class="col-12">
            <h2 class="mb-4">Services I Offer</h2>
            <h3 class="display-5 mb-4">Your Digital Analytics Strategy, Covered</h3>
            <p>Leveraging your digital analytics effectively and activating your data is crucial for business
                success. However, navigating the complexities of analytics platforms like Google Analytics, Amplitude,
                Piwik Pro, Google Tag Manager can be challenging. Adding Customer Data Platforms like Mixpanel, Heap,
                Lytics, to the mix, combine these with working with raw data and you have a daunting task in front of
                you.</p>
            <p>As a Digital Analytics Consultant and Analytics Engineer, I specialize in designing and implementing
                tailored analytics and activation solutions that align with your business goals. With my expertise in
                digital analytics platforms, tag management, and Google Cloud Platform-based solutions I ensure that
                your data infrastructure
                is not only robust and scalable but also delivers actionable insights to drive your business forward.
            </p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-8">
            <h3 class="mb-4">A Comprehensive Approach</h3>
            <p>I work flexibly to meet your specific needs, whether you require end-to-end management of your analytics
                infrastructure or support in leveraging your existing resources. My services include:</p>
            <ul>
                <li>Optimizing your digital analytics setup (e.g., Google Analytics and Google Tag Manager) for accurate
                    data collection and insightful reporting.</li>
                <li>Developing custom analytics solutions using JavaScript, SQL, and Python to address unique business
                    requirements.</li>
                <li>Building scalable data pipelines and advanced analytics solutions using Google Cloud Platform
                    services.</li>
                <li>Providing training and support to help your team maximize the value of your analytics tools.</li>
                <li>Offering strategic advice on digital marketing strategies informed by data-driven insights.</li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="card bg-light">
                <div class="card-body">
                    <h4 class="card-title">Strategic Analytics Solutions</h4>
                    <p class="card-text">I collaborate with organizations to align their business objectives with
                        tailored digital analytics strategies, addressing unique challenges and driving data-informed
                        decision-making.</p>
                    <p class="card-card-card-text">My approach ensures that your analytics setup is not only technically
                        sound but also aligned with your business goals, maximizing the impact of your data and
                        unlocking actionable use cases.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12">
            <h2 class="mb-4">Who am I?</h2>
            <h3 class="display-5 mb-4">A little more about me</h3>
            <div class="row">
                <div class="col-md-8">
                    <p>I'm Gunnar Griese, a self-employed Digital Analytics Consultant and Analytics Engineer based in
                        Copenhagen. With a strong background from leading digital analytics agencies in Germany
                        and Denmark, I've helped large enterprises and brands optimize their digital
                        analytics strategies.</p>
                    <p>My expertise spans various industries, and I'm passionate about helping businesses of all sizes
                        activate their data efficiently. I also teach the courses "Technical Digital Analytics" and "Tag
                        Management" at IHM Business
                        School in Malmö, introducing students to the intricacies of digital analytics.</p>
                    <ul>
                        <li>Google Cloud (GCP) Certified Professional Data Engineer</li>
                        <li>Specialized in Google Analytics (GA) and Google Tag Manager (GTM)</li>
                        <li>Proficient in JavaScript, SQL, and Python</li>
                        <li>Experience with large enterprises and brands</li>
                        <li>Multilingual: German (native), English (fluent), Danish (basic working proficiency)</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="/assets/img/avatar/gunnar-avatar.jpg" alt="Gunnar Griese"
                        class="img-fluid rounded-circle">
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="row mb-5">
        <div class="col-md-6">
            <h3 class="mb-4">Let's work together</h3>
            <form id="contact-form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="John Doe">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="john.doe@example.com">
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
        <div class="col-md-6">
            <h4>Working with me you'll get:</h4>
            <ul>
                <li>Tailored digital analytics strategies for your unique business needs</li>
                <li>An experienced consultant with a track record in large enterprises and brands</li>
                <li>Expertise in a variety of digital analytics platforms - exceling in Google Analytics, Google Tag
                    Manager, and Google Cloud Platform</li>
                <li>Custom solutions leveraging JavaScript, SQL, and Python</li>
                <li>Clear communication in English, German, or Danish</li>
            </ul>
        </div>
    </div>
</div>